
/*info-css*/

.selection-tab {
    background-color: #fff;
    width: 100%;
    height: auto;
    position: relative;
    display: inline;
}
.selection-button {
    float: left;
    width: 25%;
    height: 3rem;
    text-align: center;
    margin-top: 1rem;
}
.selection-button a {
    text-decoration: none;
    color: #111111;
    font-weight: 400;
    vertical-align: middle;
}
.active-selection a {
    color: #305932;
    font-size: 110%;
    font-weight: 500;
    text-decoration: underline;    
}
.selection-button a:hover {
    font-weight: 600;
    border-bottom: 1px solid #3a3a3a;
    color: rgb(4, 156, 4);
}


/*info article styling*/
.info-article {
    clear: both;
    width: 98%;
    height: auto;
    float: left;
    margin-top: 3vw;
}
.article-image {
    width: 23vw;
    height: 23vw;
    margin-right: 2vw;
    background-image: url(../images/marius-ciocirlan-398931-unsplash-about.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border-radius: 50%;
    border:rgba(48, 89, 50, 1) 1px solid;
    float: right;
}
.info-article p {
    padding: 8px 1.5rem;
    color: #111111;
    font-size: 1.1rem;
}
.info-article h1 {
    padding: 0 1.5rem 1rem;
    font-size: 2.2rem;
}
.info-article h4 {
    width: 90%;
    padding: 1vw 1.5rem 2vw;
}
#copyright-text-info {
    width: 90%;
    height: auto;
    clear: both;
    float: left;
    font-size: 0.9rem;
    font-weight: 400;
    margin: 5vw 1.5rem 5vw 1.5rem;
}