
/*info-css*/

.selection-tab {
    background-color: #fff;
    width: 100%;
    height: auto;
    position: relative;
    display: inline;
}
.selection-button {
    float: left;
    width: 25%;
    height: 3rem;
    text-align: center;
    margin-top: 1rem;
}
.selection-button a {
    text-decoration: none;
    color: #111111;
    font-weight: 400;
    vertical-align: middle;
}
.active-selection a {
    color: #305932;
    font-size: 110%;
    font-weight: 500;
    text-decoration: underline;    
}
.selection-button a:hover {
    font-weight: 600;
    border-bottom: 1px solid #3a3a3a;
    color: rgb(4, 156, 4);
}


/*info article styling*/
.info-article {
    clear: both;
    width: 98%;
    height: auto;
    float: left;
    margin-top: 3vw;
}
.article-image {
    width: 23vw;
    height: 23vw;
    margin: 0 2vw 1vw 1vw;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border:rgba(48, 89, 50, 1) 1px solid;
    float: right;
}
/*images for different info articles*/
#about-image {
    background-image: url(../images/marius-ciocirlan-398931-unsplash-about.jpg);
}
#tc-image {
    background-image: url(../images/unsplash-stefan-stefancik-257625-terms.jpg);
}
#privacy-image {
    background-image: url(../images/unsplash-jeremy-bishop-170994-privacy.jpg);
}
#blog-funding-image {
    background-image: url(../images/donate-explain-small.jpg);
}
#blog-data-image {
    background-image: url(../images/data-img-small.jpg);
}



.info-article p {
    padding: 8px 1.5rem;
    color: #111111;
    font-size: 1.1rem;
}
.info-article h1 {
    padding: 0 1.5rem 1rem;
    font-size: 2.2rem;
}
.info-article h3 {
    padding-left: 1.5rem;
}
.info-article h4 {
    width: 90%;
    padding: 1vw 1.5rem 2vw;
}
.span-bold {
    font-weight: 600;
}
.span-italic {
    font-weight: 400;
    font-style: italic;
}
.p-bold {
    font-weight: 600;
}
.article-ol li {
        display: list-item;
        list-style-type: decimal;
        margin-left: 5rem;       
}
#policy-personal-data li {
    display: list-item;
    list-style-type: square;
    margin-left: 5rem;
}
#policy-eu {
    width: 80%;
    height: auto;
    
    margin-right: 3rem;
}
#policy-eu-links li {
       
    display: list-item;
    list-style-type: none;
    margin-left: 1.5rem;
    color: blue;
}

/*Profile Page*/

#profile-form {
    width: 100%;
    height: 50vw;
    position: relative;
    float: left;
}
#profile-form-background  {
    max-width: 1100px;
    height: auto;
    position: absolute;
    float: left;
    margin: 0 auto;
}
@media (max-width: 600px) {
    #profile-form-background { display: none;}
}
#profile-container{
    width: 90%;
    height: auto; 
    color: #fff;
    background-color: rgba(138, 134, 131, 0.7);
    max-width: 400px;
    position: absolute;
    text-align: center;
    top: 17vw;
    left: 4vw;
    
}
#profile-image-container {
    width: 15vw;
    height: 15vw;
    padding: 2vw;
    background-color: rgba(250, 250, 250, 0.5);
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: -13vw auto 0;
}

#profile-image {
    background: url(../images/marius-ciocirlan-398931-unsplash-profile.jpg);
    height: 100%;
    width: auto;
    border-radius: 50%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
#profile-header {
    width: 100%;
    margin: 3vw auto 0;
}
#profile-h3 {
    margin: 3vw auto 3w;
    font-weight: 400;
}
#profile-text {
    margin: 4vw 4vw 1vw 4vw;
}
.linkedin-link {
    color: #8ED3F4;
    margin-bottom: 2vw;
    font-size: 130%;
}

/*copyright-text-info CSS*/

.copyright-text-info {
    clear: both;
    position: relative;
    float: left;
    font-weight: 500;
    font-size: 0.8rem;
    margin-left: 1.5rem;
    margin-top: 4vw;
}
