body {
    background-color: hsl(150, 20%, 98%);
    margin: 0% 10%;
    padding: 0%;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}/*font-weight 'normal' - some elements could be 300*/
h1, h2 {
    color: #252525;
}
#top-image {
    width: 25%;
    margin-left: 10px;
    float: left;
}
#nav-top {
    font-size: 110%;    
}
li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#nav-top a {
    text-decoration: none;
    margin-right: 10px;
    vertical-align: middle;
    color: inherit;
    font-weight: 400;
   
}
#top-image, #nav-top {
    line-height: 75px;
}
#nav-top a:hover {
    border-bottom: 1px solid #3a3a3a;
    color: red;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}
/* donate button design)
button {
    background-color: whitesmoke;
    border-color: #00a870;
    border-width: medium;
    border-radius: 7px;
    color: black;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 40px;
    width: 120px;
    margin-right: 10px;
    position: absolute;
    top:7%;
    right: 0px;
}  
button:hover {
    background-color: #00a870;
    color: white;
}
#donate-img {
    margin-right: 5px;    
    vertical-align: middle;
    }
*/
.aside-box {
    height: 200px;/*add responsive height & width for vertical & horizontal img*/
    float: right;
    /*next element shall have clear:right; */
}
.top-line {
    width: 100%;
    height: 10%;
    position: relative;
    background-color: #a80038;
    clear: both;
}   
.top-line-text {
    color: whitesmoke;
    margin-left: 20px;
    padding: 0%;
}
