body {
    background-color: hsl(150, 20%, 98%);
    margin: 0% 10%;
    padding: 0%;
    letter-spacing: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    clear: both;
}
h1, h2 {
    color: #252525;
}
.top-box {
    background-color: hsl(150, 20%, 98%);
    width: 100%;
    height: 3rem;
    position: relative;
    margin-top: 15px;
}
#top-image {
    width: 25%;
    margin-left: 10px;
    float: left;
}
ul {
    position: absolute;
    top: 30%;
    right: 20px;
    float: right;
    }
    li {
    display: inline;
    margin-right: 30px;
    vertical-align: middle;
}
/* donate button design)
button {
    background-color: whitesmoke;
    border-color: #00a870;
    border-width: medium;
    border-radius: 7px;
    color: black;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 40px;
    width: 120px;
    margin-right: 10px;
    position: absolute;
    top:7%;
    right: 0px;
}  
button:hover {
    background-color: #00a870;
    color: white;
}
#donate-img {
    margin-right: 5px;    
    vertical-align: middle;
    }
*/
.aside-box {
    height: 200px;/*add responsive height & width for vertical & horizontal img*/
    float: right;
    /*next element shall have clear:right; */
}
.top-line {
    width: 100%;
    height: 10%;
    position: relative;
    background-color: #a80038;
    clear: both;
}   
.top-line-text {
    color: whitesmoke;
    margin-left: 20px;
    padding: 0%;
}
#push-down {
    margin-top: 200px;
}