.task-container {
   background-color: red;
   position: relative;
   width: 100%;
   padding-top: 40%;
}
.task-timer {
   border-color: black; 
   background-color: yellow;
   height: 100px;
   width: 100%;
   position: relative;
   bottom: 0%;
}
.task-points {
   font-size: 5rem;
}

.red-box {
      background-color: beige;
      width: 100%;
      padding-top: 40%; 
      border-color: blueviolet;
      }
      .some-text {
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
         color: black;
         font-size: 10em;
       }
    
    